.container {
    background-color: gray;
    display:flex;
    flex-direction: column;
    height: 1200px;
}

.header {
    display:flex;
    background-color:aliceblue;
    flex-basis: 15%;
    font-family:Courier, monospace;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.column {
    display:flex;
    flex-basis:85%;
    background-color: brown;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}
.column img {
    height: 150px;
    width: 150px;
    border: 5px solid black;
    background-color: purple;
 
}

@media (min-width: 800px) {
    .container {
        flex-direction: row;
        height: 100vh;
    }
    .column img {
        height: 100px;
    }
}